@import url("https://fonts.googleapis.com/css?family=Roboto");
body { 
    background-color: #2c2f33;
    color: white;
    font-family: Roboto;
}
#view {
    background-color: #2c2e42;
    margin: 0 auto;
    max-width: 700px;
}
.bar {
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.oopsie-woopsie {
    visibility: hidden;
}
